#landing {
  position: relative;
  background: linear-gradient(0deg, #dc5922 0%, #b03434 66.15%);
  color: #f5f3f4;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.25);
}

#landing .content-margins {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#landing h2 {
  top: 0;
  position: absolute;
  margin: 100px;
}
#home-button{
  position: fixed;
  top: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 999;
  transition: 0.5s;
}
#home-button:hover{
  transform: translateY(4px);
}
#landing .infos{
  margin-bottom: 90px;
}
.infos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

.infos > #landing-text {
  max-width: 400px;
}
.infos > figure{
  min-width: 330px;
}

#landing-text h3 {
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #f5f3f4;
  margin-bottom: 30px;
}

p#intro {
  margin-bottom: 20px;
  font-weight: 500;
}

#scroll-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-size: 1rem;
  cursor: default;
  color: #f5f3f4;
  transition: 0.5s;
}
#scroll-button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  height: 0.625rem;
  width: 0.188rem;
  background-color: #f5f3f4;
}
#scroll-button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 1.625rem;
  width: 0.188rem;
  background-color: #f5f3f4;
}
#scroll-button:hover {
  transform: translate(-50%, 5px);
}

#logo a {
  text-decoration: none;
  margin-right: 20px;
}

@media (max-width: 1300px){
  .infos{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #landing h2{
    margin:inherit;
  }
  #landing-text{
    margin-top: 20px;
  }
}