*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
}
::selection{
    background-color: rgba(190, 52, 52, 0.5);
}
h2{
    font: inherit;
    font-family: 'Bebas Neue';
    font-size: 9rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #D3D3D3;
    -webkit-text-stroke-width: 0.1rem;
    letter-spacing: 0.25em;
}
h3{
    font-family: 'Bebas Neue';
    font-size: 2rem;
    letter-spacing: 0.03em;
    font-weight: 400;
}
h4{
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 24px;
    margin-top: 25px;
}
a{
    text-decoration: none;
}
strong{
    font: inherit;
    font-family: 'Bebas Neue';
    font-size: 64px;
    letter-spacing: 0.03em;
}
p{
    font-family: 'Montserrat';
    font-size: 24px;
}
.content-margins{
    width: 100%;
    padding: 0 90px 0 90px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1300px){
    h2{
        font-size: 96px;
    }
    .content-margins{
        padding: 0 45px 0 45px;
    }
}